* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236);
}

.card-img-container {
    height: 150px;
    overflow: hidden;
}

.card-img-container.img1 {
    background: url(../assets/card_condominio.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center top;
    background-attachment: fixed;
    
}

.card-img-container.img2 {
    background: url(../assets/card-bloco.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center top;
    background-attachment: fixed;
}

